@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

a {
    color: var(--white);
}

p {
    display: inline-block;
}

:root {
    --black: #0E131F;
    --white: #d9d9d9;
    --active: #362243;
    --primary: #9A48D0;
    --secondary: #802FB6;
    --shadow: 194, 68, 68;
    --lightgrey: #f5f5f5;
    --grey: #b0b0b0;
    --semidarkgrey: #181c24;
    --darkgrey: #10141b;
}

body {
    background-color: var(--black);
    color: var(--grey);
}

::selection {
    background: var(--selection);
    color: var(--white);
}

/* FUNCTIONS */
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: flex-end;
    justify-content: flex-start;
}

.emphasize {
    font-weight: 800;
}

.emoji-grey {
    color: var(--lightgrey);
}

.icon-bottom {
    margin-bottom: 0.4rem;
}

p.main-text {
    color: var(--grey);
    font-size: 2.4rem;
    text-align: center;
    font-weight: 700;
    background-image: linear-gradient(
        to right,
        var(--white) 0%,
        var(--grey) 60%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

p.main-text-min {
    font-size: 1.6rem !important;
}

form input,
input,
button {
    width: 100%;
    border: 1px solid var(--darkgrey);
    padding: 0.5rem;
    border-radius: 4px;
    outline: none;
    background-color: var(--semidarkgrey);
    color: var(--lightgrey);
}

button.cta-btn {
    color: var(--white);
    font-weight: 700;
    margin-top: 0.4rem;
    transition: all 0.4s ease;
}

button.cta-btn:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

button.cta-btn.btn-not:hover {
    background-color: var(--active);
    cursor: pointer;
}

button.cta-btn:disabled:hover {
    background-color: var(--grey);
    cursor: default;
    color: var(--black);
}

@media screen and (max-width: 768px) {
    p.main-text {
        font-size: 2rem;
    }

    button.call-to-action {
        padding: 0.6rem 2rem;
    }

    p.main-text-min {
        font-size: 1.4rem;
    }
}

/* Aplica a personalização da barra de rolagem */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--darkgrey);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary);
}

form p.messages {
    width: 100%;
    color: var(--primary);
    font-size: 0.8rem;
    margin: 0 0 1.8rem 0;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background-color: var(--semidarkgrey);
}

.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    transition: opacity 0.5s;
    opacity: 1;
}
.fade-leave {
    opacity: 1;
}
.fade-leave-active {
    transition: opacity 0.5s;
    opacity: 0;
}
